<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkb.bot.warframe.mapper.WarframeRivenTrendMapper">

    <resultMap type="WarframeRivenTrend" id="WarframeRivenTrendResult">
        <result property="rivenTrendId" column="riven_trend_id"/>
        <result property="rivenTrendName" column="riven_trend_name"/>
        <result property="rivenTrendOldNum" column="riven_trend_old_num"/>
        <result property="rivenTrendNewNum" column="riven_trend_new_num"/>
        <result property="rivenTrendOldDot" column="riven_trend_old_dot"/>
        <result property="rivenTrendNewDot" column="riven_trend_new_dot"/>
        <result property="traCh" column="tra_ch"/>

    </resultMap>

    <sql id="selectWarframeRivenTrendVo">
        select a.*,b.tra_ch from wf_riven_trend as a LEFT JOIN wf_translation as b on a.riven_trend_name = b.tra_en
    </sql>

    <select id="selectWarframeRivenTrendList" parameterType="WarframeRivenTrend" resultMap="WarframeRivenTrendResult">
        <include refid="selectWarframeRivenTrendVo"/>
        <where>
            <if test="rivenTrendName != null  and rivenTrendName != ''">and riven_trend_name like
                '%'||#{rivenTrendName}||'%'
            </if>
            <if test="traCh != null  and traCh != ''">and tra_ch like '%'||#{traCh}||'%'</if>
            <if test="rivenTrendOldNum != null  and rivenTrendOldNum != ''">and riven_trend_old_num =
                #{rivenTrendOldNum}
            </if>
            <if test="rivenTrendNewNum != null  and rivenTrendNewNum != ''">and riven_trend_new_num =
                #{rivenTrendNewNum}
            </if>
            <if test="rivenTrendOldDot != null  and rivenTrendOldDot != ''">and riven_trend_old_dot =
                #{rivenTrendOldDot}
            </if>
            <if test="rivenTrendNewDot != null  and rivenTrendNewDot != ''">and riven_trend_new_dot =
                #{rivenTrendNewDot}
            </if>
        </where>
        GROUP BY a.riven_trend_id
    </select>

    <select id="selectWarframeRivenTrendById" parameterType="Long" resultMap="WarframeRivenTrendResult">
        <include refid="selectWarframeRivenTrendVo"/>
        where riven_trend_id = #{rivenTrendId}
    </select>
    <insert id="insertAndUpDateWarframeRivenTrend" parameterType="WarframeRivenTrend" useGeneratedKeys="true"
            keyProperty="rivenTrendId">
        REPLACE INTO wf_riven_trend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rivenTrendName != null">riven_trend_name,</if>
            <if test="rivenTrendOldNum != null">riven_trend_old_num,</if>
            <if test="rivenTrendNewNum != null">riven_trend_new_num,</if>
            <if test="rivenTrendOldDot != null">riven_trend_old_dot,</if>
            <if test="rivenTrendNewDot != null">riven_trend_new_dot,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rivenTrendName != null">#{rivenTrendName},</if>
            <if test="rivenTrendOldNum != null">#{rivenTrendOldNum},</if>
            <if test="rivenTrendNewNum != null">#{rivenTrendNewNum},</if>
            <if test="rivenTrendOldDot != null">#{rivenTrendOldDot},</if>
            <if test="rivenTrendNewDot != null">#{rivenTrendNewDot},</if>
        </trim>
        <!--ON DUPLICATE KEY UPDATE
        <if test="rivenTrendName != null">riven_trend_name = VALUES( riven_trend_name ),</if>
        <if test="rivenTrendOldNum != null">riven_trend_old_num = VALUES( riven_trend_old_num ),</if>
        <if test="rivenTrendNewNum != null">riven_trend_new_num = VALUES( riven_trend_new_num ),</if>
        <if test="rivenTrendOldDot != null">riven_trend_old_dot = vALUES( riven_trend_old_dot ),</if>
        <if test="rivenTrendNewDot != null">riven_trend_new_dot = VALUES(riven_trend_new_dot)</if>-->
    </insert>
    <insert id="insertWarframeRivenTrend" parameterType="WarframeRivenTrend" useGeneratedKeys="true"
            keyProperty="rivenTrendId">
        insert OR IGNORE into wf_riven_trend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rivenTrendName != null">riven_trend_name,</if>
            <if test="rivenTrendOldNum != null">riven_trend_old_num,</if>
            <if test="rivenTrendNewNum != null">riven_trend_new_num,</if>
            <if test="rivenTrendOldDot != null">riven_trend_old_dot,</if>
            <if test="rivenTrendNewDot != null">riven_trend_new_dot,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rivenTrendName != null">#{rivenTrendName},</if>
            <if test="rivenTrendOldNum != null">#{rivenTrendOldNum},</if>
            <if test="rivenTrendNewNum != null">#{rivenTrendNewNum},</if>
            <if test="rivenTrendOldDot != null">#{rivenTrendOldDot},</if>
            <if test="rivenTrendNewDot != null">#{rivenTrendNewDot},</if>
        </trim>
    </insert>

    <update id="updateWarframeRivenTrend" parameterType="WarframeRivenTrend">
        update wf_riven_trend
        <trim prefix="SET" suffixOverrides=",">
            <if test="rivenTrendName != null">riven_trend_name = #{rivenTrendName},</if>
            <if test="rivenTrendOldNum != null">riven_trend_old_num = #{rivenTrendOldNum},</if>
            <if test="rivenTrendNewNum != null">riven_trend_new_num = #{rivenTrendNewNum},</if>
            <if test="rivenTrendOldDot != null">riven_trend_old_dot = #{rivenTrendOldDot},</if>
            <if test="rivenTrendNewDot != null">riven_trend_new_dot = #{rivenTrendNewDot},</if>
        </trim>
        where riven_trend_id = #{rivenTrendId}
    </update>

    <delete id="deleteWarframeRivenTrendById" parameterType="Long">
        delete from wf_riven_trend where riven_trend_id = #{rivenTrendId}
    </delete>

    <delete id="deleteWarframeRivenTrendByIds" parameterType="String">
        delete from wf_riven_trend where riven_trend_id in
        <foreach item="rivenTrendId" collection="array" open="(" separator="," close=")">
            #{rivenTrendId}
        </foreach>
    </delete>
</mapper>
