<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkb.bot.warframe.mapper.WarframeMarketSisterMapper">

    <resultMap type="WarframeMarketLichOrSister" id="WarframeMarketSisterResult">
        <result property="id" column="sister_id"/>
        <result property="itemName" column="sister_item_name"/>
        <result property="urlName" column="sister_url_name"/>
        <result property="iconFormat" column="sister_icon_format"/>
        <result property="thumb" column="sister_thumb"/>
        <result property="icon" column="sister_icon"/>
        <result property="element" column="sister_element"/>
    </resultMap>

    <sql id="selectWarframeMarketSisterVo">
        select sister_id, sister_item_name, sister_url_name, sister_icon_format, sister_thumb, sister_icon,
        sister_element from wf_market_sister
    </sql>

    <select id="selectWarframeMarketSisterList" parameterType="WarframeMarketLichOrSister"
            resultMap="WarframeMarketSisterResult">
        <include refid="selectWarframeMarketSisterVo"/>
        <where>
            <if test="itemName != null  and itemName != ''">and sister_item_name like '%'||#{itemName}||'%'</if>
            <if test="urlName != null  and urlName != ''">and sister_url_name like '%'||#{urlName}||'%'</if>
            <if test="iconFormat != null  and iconFormat != ''">and sister_icon_format = #{iconFormat}</if>
            <if test="thumb != null  and thumb != ''">and sister_thumb = #{thumb}</if>
            <if test="icon != null  and icon != ''">and sister_icon = #{icon}</if>
            <if test="element != null  and element != ''">and sister_element = #{element}</if>
        </where>
    </select>

    <select id="selectWarframeMarketSisterByItemName" parameterType="String" resultMap="WarframeMarketSisterResult">
        <include refid="selectWarframeMarketSisterVo"/>
        where sister_item_name like '%'||#{itemName}||'%'
        limit 1
    </select>

    <select id="selectWarframeMarketSisterByElement" parameterType="String" resultMap="WarframeMarketSisterResult">
        <include refid="selectWarframeMarketSisterVo"/>
        where sister_element like '%'||#{element}||'%'
    </select>

    <select id="selectWarframeMarketSisterByUrlName" parameterType="String" resultMap="WarframeMarketSisterResult">
        <include refid="selectWarframeMarketSisterVo"/>
        where sister_url_name like '%'||#{urlName}||'%'
    </select>

    <select id="selectWarframeMarketSisterById" parameterType="String" resultMap="WarframeMarketSisterResult">
        <include refid="selectWarframeMarketSisterVo"/>
        where sister_id = #{id}
    </select>

    <insert id="insertWarframeMarketSister" parameterType="WarframeMarketLichOrSister">
        insert OR IGNORE into wf_market_sister
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">sister_id,</if>
            <if test="itemName != null">sister_item_name,</if>
            <if test="urlName != null">sister_url_name,</if>
            <if test="iconFormat != null">sister_icon_format,</if>
            <if test="thumb != null">sister_thumb,</if>
            <if test="icon != null">sister_icon,</if>
            <if test="element != null">sister_element,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="urlName != null">#{urlName},</if>
            <if test="iconFormat != null">#{iconFormat},</if>
            <if test="thumb != null">#{thumb},</if>
            <if test="icon != null">#{icon},</if>
            <if test="element != null">#{element},</if>
        </trim>
    </insert>

    <update id="updateWarframeMarketSister" parameterType="WarframeMarketLichOrSister">
        update wf_market_sister
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemName != null">sister_item_name = #{itemName},</if>
            <if test="urlName != null">sister_url_name = #{urlName},</if>
            <if test="iconFormat != null">sister_icon_format = #{iconFormat},</if>
            <if test="thumb != null">sister_thumb = #{thumb},</if>
            <if test="icon != null">sister_icon = #{icon},</if>
            <if test="element != null">sister_element = #{element},</if>
        </trim>
        where sister_id = #{id}
    </update>

    <delete id="deleteWarframeMarketSisterById" parameterType="String">
        delete from wf_market_sister where sister_id = #{id}
    </delete>

    <delete id="deleteWarframeMarketSisterByIds" parameterType="String">
        delete from wf_market_sister where sister_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
