<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkb.bot.warframe.mapper.WarframeTranslationMapper">

    <resultMap type="WarframeTranslation" id="WarframeTranslationResult">
        <result property="traId" column="tra_id"/>
        <result property="traEn" column="tra_en"/>
        <result property="traCh" column="tra_ch"/>
        <result property="traPrime" column="tra_prime"/>
        <result property="traSet" column="tra_set"/>
    </resultMap>

    <sql id="selectWarframeTranslationVo">
        select tra_id, tra_en, tra_ch, tra_prime, tra_set
        from warframe_translation
    </sql>

    <select id="selectWarframeTranslationList" parameterType="WarframeTranslation"
            resultMap="WarframeTranslationResult">
        <include refid="selectWarframeTranslationVo"/>
        <where>
            <if test="traEn != null  and traEn != ''">and tra_en like '%'||#{traEn}||'%'</if>
            <if test="traCh != null  and traCh != ''">and tra_ch like '%'||#{traCh}||'%'</if>
            <if test="traPrime != null ">and tra_prime = #{traPrime}</if>
            <if test="traSet != null ">and tra_set = #{traSet}</if>
        </where>
    </select>

    <select id="selectWarframeTranslationById" parameterType="Long" resultMap="WarframeTranslationResult">
        <include refid="selectWarframeTranslationVo"/>
        where tra_id = #{traId}
    </select>

    <select id="enToZh" parameterType="String" resultType="String">
        select tra_ch
        from warframe_translation
        where tra_en = #{traEn}
    </select>

    <select id="zhToEn" parameterType="String" resultType="String">
        select tra_en
        from warframe_translation
        where tra_ch = #{tra_ch}
    </select>

    <select id="zhToEnTrim" parameterType="String" resultType="String">
        select tra_en
        from warframe_translation
        where REPLACE(tra_ch,' ','') = #{tra_ch}
    </select>

    <select id="zhToEnList" parameterType="String" resultMap="WarframeTranslationResult">
        select tra_en, tra_ch
        from warframe_translation
        where REPLACE(tra_en, ' ', '') like REPLACE('%' || #{traEn} || '%', ' ', '')
        limit 5
    </select>

    <select id="enToZhList" parameterType="String" resultMap="WarframeTranslationResult">
        select tra_en, tra_ch
        from warframe_translation
        where REPLACE(tra_ch, ' ', '') like REPLACE('%' || #{traCh} || '%', ' ', '')
        limit 5
    </select>

    <select id="enAndZhToList" parameterType="String" resultMap="WarframeTranslationResult">
        SELECT tra_en,
        tra_ch
        FROM warframe_translation
        WHERE REPLACE(tra_ch, ' ', '') LIKE REPLACE('%' || #{traCh} || '%', ' ', '')
        OR REPLACE(tra_en, ' ', '') LIKE REPLACE('%' || #{traCh} || '%', ' ', '')
    </select>

    <select id="enOrzh" parameterType="String" resultMap="WarframeTranslationResult">
        <include refid="selectWarframeTranslationVo"/>
        where REPLACE(tra_en,' ','') like REPLACE('%'||#{traEn}||'%',' ','') or REPLACE(tra_ch,' ','') like
        REPLACE('%'||#{traEn}||'%',' ','')
    </select>

    <insert id="insertWarframeTranslation" parameterType="WarframeTranslation" useGeneratedKeys="true"
            keyProperty="traId">
        insert OR IGNORE into warframe_translation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="traEn != null">tra_en,</if>
            <if test="traCh != null">tra_ch,</if>
            <if test="traPrime != null">tra_prime,</if>
            <if test="traSet != null">tra_set,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="traEn != null">#{traEn},</if>
            <if test="traCh != null">#{traCh},</if>
            <if test="traPrime != null">#{traPrime},</if>
            <if test="traSet != null">#{traSet},</if>
        </trim>
    </insert>


    <insert id="insertWarframeTranslationList" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="traId">
        REPLACE INTO warframe_translation
        (tra_en,tra_ch,tra_prime,tra_set)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <if test="item.traEn != null">#{item.traEn},</if>
            <if test="item.traCh != null">#{item.traCh},</if>
            <if test="item.traPrime != null">#{item.traPrime},</if>
            <if test="item.traSet != null">#{item.traSet}</if>
            <if test="item.traEn == null">'空',</if>
            <if test="item.traCh == null">'空',</if>
            <if test="item.traPrime == null">0,</if>
            <if test="item.traSet == null">0</if>
            )
        </foreach>
    </insert>

    <update id="updateWarframeTranslation" parameterType="WarframeTranslation">
        update OR IGNORE warframe_translation
        <trim prefix="SET" suffixOverrides=",">
            <if test="traEn != null">tra_en = #{traEn},</if>
            <if test="traCh != null">tra_ch = #{traCh},</if>
            <if test="traPrime != null">tra_prime = #{traPrime},</if>
            <if test="traSet != null">tra_set = #{traSet},</if>
        </trim>
        where tra_id = #{traId}
    </update>

    <delete id="deleteWarframeTranslationById" parameterType="Long">
        delete
        from warframe_translation
        where tra_id = #{traId}
    </delete>

    <delete id="deleteWarframeTranslationByIds" parameterType="String">
        delete from warframe_translation where tra_id in
        <foreach item="traId" collection="array" open="(" separator="," close=")">
            #{traId}
        </foreach>
    </delete>

    <delete id="deleteWarframeTranslation">
        delete
        from warframe_translation
    </delete>
</mapper>
