<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkb.bot.warframe.mapper.WarframeMarketLichMapper">

    <resultMap type="WarframeMarketLich" id="WarframeMarketLichResult">
        <result property="id" column="id"/>
        <result property="itemName" column="item_name"/>
        <result property="urlName" column="url_name"/>
        <result property="iconFormat" column="icon_format"/>
        <result property="thumb" column="thumb"/>
        <result property="icon" column="icon"/>
        <result property="element" column="element"/>
    </resultMap>

    <sql id="selectWarframeMarketLichVo">
        select id, item_name, url_name, icon_format, thumb, icon, element
        from warframe_market_lich
    </sql>

    <select id="selectWarframeMarketLichList" parameterType="WarframeMarketLich"
            resultMap="WarframeMarketLichResult">
        <include refid="selectWarframeMarketLichVo"/>
        <where>
            <if test="itemName != null  and itemName != ''">and item_name like '%'||#{itemName}||'%'</if>
            <if test="urlName != null  and urlName != ''">and url_name like '%'||#{urlName}||'%'</if>
            <if test="iconFormat != null  and iconFormat != ''">and icon_format = #{iconFormat}</if>
            <if test="thumb != null  and thumb != ''">and thumb = #{thumb}</if>
            <if test="icon != null  and icon != ''">and icon = #{icon}</if>
            <if test="element != null  and element != ''">and element = #{element}</if>
        </where>
    </select>

    <select id="selectWarframeMarketLichByItemName" parameterType="String" resultMap="WarframeMarketLichResult">
        <include refid="selectWarframeMarketLichVo"/>
        where item_name like '%'||#{itemName}||'%'
        limit 1
    </select>

    <select id="selectWarframeMarketLichByElement" parameterType="String" resultMap="WarframeMarketLichResult">
        <include refid="selectWarframeMarketLichVo"/>
        where element like '%'||#{element}||'%'
    </select>

    <select id="selectWarframeMarketLichByUrlName" parameterType="String" resultMap="WarframeMarketLichResult">
        <include refid="selectWarframeMarketLichVo"/>
        where url_name like '%'||#{urlName}||'%'
    </select>

    <select id="selectWarframeMarketLichById" parameterType="String" resultMap="WarframeMarketLichResult">
        <include refid="selectWarframeMarketLichVo"/>
        where id = #{id}
    </select>

    <insert id="insertWarframeMarketLich" parameterType="WarframeMarketLich">
        insert into warframe_market_lich
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="urlName != null">url_name,</if>
            <if test="iconFormat != null">icon_format,</if>
            <if test="thumb != null">thumb,</if>
            <if test="icon != null">icon,</if>
            <if test="element != null">element,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="urlName != null">#{urlName},</if>
            <if test="iconFormat != null">#{iconFormat},</if>
            <if test="thumb != null">#{thumb},</if>
            <if test="icon != null">#{icon},</if>
            <if test="element != null">#{element},</if>
        </trim>
    </insert>

    <update id="updateWarframeMarketLich" parameterType="WarframeMarketLich">
        update warframe_market_lich
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="urlName != null">url_name = #{urlName},</if>
            <if test="iconFormat != null">icon_format = #{iconFormat},</if>
            <if test="thumb != null">thumb = #{thumb},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="element != null">element = #{element},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWarframeMarketLichById" parameterType="String">
        delete
        from warframe_market_lich
        where id = #{id}
    </delete>

    <delete id="deleteWarframeMarketLichByIds" parameterType="String">
        delete from warframe_market_lich where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
