<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkb.bot.warframe.mapper.WarframeAliasMapper">

    <resultMap type="WarframeAlias" id="WarframeAliasResult">
        <result property="aliasId" column="alias_id"/>
        <result property="aliasEn" column="alias_en"/>
        <result property="aliasCh" column="alias_ch"/>
    </resultMap>

    <sql id="selectWarframeAliasVo">
        select alias_id, alias_en, alias_ch
        from warframe_alias
    </sql>

    <select id="selectWarframeAliasList" parameterType="WarframeAlias" resultMap="WarframeAliasResult">
        <include refid="selectWarframeAliasVo"/>
        <where>
            <if test="aliasEn != null  and aliasEn != ''">and alias_en like '%'||#{aliasEn}||'%'</if>
            <if test="aliasCh != null  and aliasCh != ''">and alias_ch like '%'||#{aliasCh}||'%'</if>
        </where>
        ORDER BY alias_id
    </select>

    <select id="selectWarframeAliasById" parameterType="Integer" resultMap="WarframeAliasResult">
        <include refid="selectWarframeAliasVo"/>
        where alias_id = #{aliasId}
    </select>

    <insert id="insertWarframeAlias" parameterType="WarframeAlias" useGeneratedKeys="true" keyProperty="aliasId">
        insert into warframe_alias
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aliasEn != null">alias_en,</if>
            <if test="aliasCh != null">alias_ch,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aliasEn != null">#{aliasEn},</if>
            <if test="aliasCh != null">#{aliasCh},</if>
        </trim>
    </insert>

    <update id="updateWarframeAlias" parameterType="WarframeAlias">
        update warframe_alias
        <trim prefix="SET" suffixOverrides=",">
            <if test="aliasEn != null">alias_en = #{aliasEn},</if>
            <if test="aliasCh != null">alias_ch = #{aliasCh},</if>
        </trim>
        where alias_id = #{aliasId}
    </update>

    <delete id="deleteWarframeAliasById" parameterType="Integer">
        delete
        from warframe_alias
        where alias_id = #{aliasId}
    </delete>

    <delete id="deleteWarframeAliasByIds" parameterType="String">
        delete from warframe_alias where alias_id in
        <foreach item="aliasId" collection="array" open="(" separator="," close=")">
            #{aliasId}
        </foreach>
    </delete>
</mapper>
