<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkb.bot.warframe.mapper.WarframeMarketRivenTionNickMapper">

    <resultMap type="com.zkb.bot.warframe.domain.market.WarframeMarketRivenTionNick"
               id="WarframeMarketRivenTionNickResult">
        <result property="nickEn" column="nick_en"/>
        <result property="nickCh" column="nick_ch"/>
    </resultMap>

    <sql id="selectWarframeMarketRivenTionNickVo">
        select nick_en, nick_ch
        from warframe_market_riven_tion_nick
    </sql>

    <select id="selectWarframeMarketRivenTionNickByNickCh" parameterType="String"
            resultMap="WarframeMarketRivenTionNickResult">
        <include refid="selectWarframeMarketRivenTionNickVo"/>
        where upper(replace(nick_ch,' ','')) like UPPER(replace('%'||#{nickCh}||'%',' ',''))
    </select>

    <select id="selectWarframeMarketRivenTionNickLikeNickEn" parameterType="String"
            resultMap="WarframeMarketRivenTionNickResult">
        <include refid="selectWarframeMarketRivenTionNickVo"/>
        where nick_en like '%'||#{nick_en}||'%'
    </select>

    <select id="selectWarframeMarketRivenTionNickLikeNickCh" parameterType="String"
            resultMap="WarframeMarketRivenTionNickResult">
        <include refid="selectWarframeMarketRivenTionNickVo"/>
        where nick_ch like '%'||#{nick_ch}||'%'
    </select>

    <select id="selectWarframeMarketRivenTionNickList" resultMap="WarframeMarketRivenTionNickResult">
        <include refid="selectWarframeMarketRivenTionNickVo"/>
    </select>

    <insert id="insertWarframeMarketRivenTionNickLikeNickCh" parameterType="com.zkb.bot.warframe.domain.market.WarframeMarketRivenTionNick">
        insert OR IGNORE into warframe_market_riven_tion_nick
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickEn != null and nickEn != ''">nick_en,</if>
            <if test="nickCh != null and nickCh != ''">nick_ch,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickCh != null and nickCh != ''">#{nickCh},</if>
            <if test="nickEn != null and nickEn != ''">#{nickEn},</if>
        </trim>
    </insert>
</mapper>
