<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twg.bot.group.mapper.OFFunGroupMapper">

    <resultMap type="OFFunGroup" id="OFFunGroupResult">
        <result property="gorupUuid" column="group_uuid"/>
        <result property="funId" column="fun_id"/>
    </resultMap>

    <sql id="selectOFFunGroupVo">
        select group_uuid, fun_id from of_fun_group
    </sql>

    <select id="selectOFFunGroupList" parameterType="OFFunGroup" resultMap="OFFunGroupResult">
        <include refid="selectOFFunGroupVo"/>
    </select>

    <select id="selectOFFunGroupById" parameterType="Integer" resultMap="OFFunGroupResult">
        <include refid="selectOFFunGroupVo"/>
        where group_uuid = #{gorupUuid}
    </select>


    <insert id="insertOFFunGroup" parameterType="OFFunGroup" useGeneratedKeys="true">
        insert into of_fun_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gorupUuid != null">group_uuid,</if>
            <if test="funId != null">fun_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gorupUuid != null">#{gorupUuid},</if>
            <if test="funId != null">#{funId},</if>
        </trim>
    </insert>

    <update id="updateOFFunGroup" parameterType="OFFunGroup">
        update of_fun_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="funId != null">fun_id = #{funId},</if>
        </trim>
        where group_uuid = #{gorupUuid}
    </update>

    <delete id="deleteOFFunGroupById" parameterType="Integer">
        delete from of_fun_group where group_uuid = #{gorupUuid}
    </delete>
</mapper>
