<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<title>ZeroKingBot</title>
	<!-- 避免IE使用兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link th:href="@{favicon.ico}" rel="shortcut icon"/>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/jquery.contextMenu.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/animate.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/style.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/skins.css}" rel="stylesheet"/>
	<link th:href="@{/zkb/css/zkb-ui.css?v=4.7.5}" rel="stylesheet"/>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" th:classappend="${isMobile} ? 'canvas-menu'"
	  style="overflow: hidden">
<div id="wrapper">

	<!--左侧导航开始-->
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="nav-close">
			<i class="fa fa-times-circle"></i>
		</div>
		<a th:href="@{/index}">
			<li class="logo hidden-xs">
				<span class="logo-lg">ZeroKingBot</span>
			</li>
		</a>
		<div class="sidebar-collapse">
			<ul class="nav" id="side-menu">
				<li class="active">
					<a class="menuItem" th:href="@{/system/main}"><i class="fa fa-home"></i> <span
							class="nav-label">首页</span> </a>
				</li>
				<li>
					<a href="#"><i class="fa fa-user"></i> <span class="nav-label">日志查看</span><span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a class="menuItem" th:href="@{/log/info}">日常日志</a>
						</li>
						<li>
							<a class="menuItem" th:href="@{/log/operlog}">操作日志</a>
						</li>
						<li>
							<a class="menuItem" th:href="@{/log/login}">登录日志</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-edit"></i> <span class="nav-label">配置</span><span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a class="menuItem" th:href="@{/config/warframe/warframe-config}">Warframe指令配置</a>
						</li>
						<li>
							<a class="menuItem" th:href="@{/bot/admin}">管理员配置</a>
						</li>
						<li>
							<a class="menuItem" th:href="@{/bot/black}">黑名单配置</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#"><i class="fa fa-user"></i> <span class="nav-label">智障AI</span><span
							class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li>
							<a class="menuItem" onclick="chatGPTConfig()">ChatGPT</a>
						</li>
						<li>
							<a class="menuItem" th:href="@{/bot/ai/thesaurus}">词库</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<!--左侧导航结束-->

	<!--右侧部分开始-->
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2" style="color:#FFF;" href="#" title="收起菜单">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-right welcome-message">
					<li class="dropdown user-menu">
						<a href="javascript:void(0)" class="dropdown-toggle" data-hover="dropdown">
							<span class="hidden-xs">个人中心</span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a onclick="resetPwd()">
									<i class="fa fa-key"></i> 修改密码</a>
							</li>
							<li>
								<a onclick="switchSkin()">
									<i class="fa fa-dashboard"></i> 切换主题</a>
							</li>
							<li>
								<a onclick="toggleMenu()">
									<i class="fa fa-toggle-off"></i> 横向菜单</a>
							</li>
							<li class="divider"></li>
							<li>
								<a th:href="@{logout}">
									<i class="fa fa-sign-out"></i> 退出登录</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="row content-tabs" th:classappend="${#bools.isFalse(tagsView)} ? |hide|">
			<button class="roll-nav roll-left tabLeft">
				<i class="fa fa-backward"></i>
			</button>
			<nav class="page-tabs menuTabs">
				<div class="page-tabs-content">
					<a href="javascript:void(0);" class="active menuTab" th:data-id="@{/system/main}">首页</a>
				</div>
			</nav>
			<button class="roll-nav roll-right tabRight">
				<i class="fa fa-forward"></i>
			</button>
			<a href="javascript:void(0);" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
		</div>

		<div class="row mainContent" id="content-main" th:classappend="${mainClass}">
			<iframe class="RuoYi_iframe" name="iframe0" width="100%" height="100%" th:data-id="@{/system/main}"
					th:src="@{/system/main}" frameborder="0" seamless></iframe>
		</div>

		<div class="footer">
			<div class="pull-right">
				<b>
					作者: <span style="color: red">KingPrimes</span> <br/>
					B站名称:<span style="color: red">老王的冒险之旅</span> <br/>
					UID:<span style="color: red">16131052</span>
				</b>
			</div>
		</div>
	</div>
	<!--右侧部分结束-->
</div>
<!-- 全局js -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/jquery.contextMenu.min.js}"></script>
<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/zkb/js/zkb-ui.js?v=4.7.5}"></script>
<script th:src="@{/zkb/js/common.js?v=4.7.5}"></script>
<script th:src="@{/zkb/index.js?v=20201208}"></script>
<script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
<script th:inline="javascript">
    window.history.forward(1);
    const ctx = [[@{/}]];
    const lockscreen = [[${session.lockscreen}]];
    if (lockscreen) {
        window.top.location = ctx + "lockscreen";
    }
    // 皮肤缓存
    const skin = storage.get("skin");
    // history（表示去掉地址的#）否则地址以"#"形式展示
    const mode = "history";
    // 历史访问路径缓存
    const historyPath = storage.get("historyPath");
    // 是否页签与菜单联动
    const isLinkage = true;

    const body = $("body");

    // 本地主题优先，未设置取系统配置
    if ($.common.isNotEmpty(skin)) {
        body.addClass(skin.split('|')[0]);
        body.addClass(skin.split('|')[1]);
    } else {
        body.addClass([[${sideTheme}]]);
        body.addClass([[${skinName}]]);
    }

    /* 用户管理-重置密码 */
    function resetPwd() {
        var url = ctx + 'system/user/profile/resetPwd';
        $.modal.open("重置密码", url, '770', '380');
    }

    function chatGPTConfig(){
        var url = ctx + 'bot/ai/chat/config';
        $.modal.open('ChatGPT配置',url,'770','380')
    }

    /* 切换主题 */
    function switchSkin() {
        layer.open({
            type: 2,
            shadeClose: true,
            title: "切换主题",
            area: ["530px", "386px"],
            content: [ctx + "system/switchSkin", 'no']
        })
    }

    /* 切换菜单 */
    function toggleMenu() {
        $.modal.confirm("确认要切换成横向菜单吗？", function () {
            $.get(ctx + 'system/menuStyle/topnav', function () {
                window.location.reload();
            });
        })
    }

    /** 刷新时访问路径页签 */
    function applyPath(url) {
        $('a[href$="' + decodeURI(url) + '"]').click();
        if (!$('a[href$="' + url + '"]').hasClass("noactive")) {
            $('a[href$="' + url + '"]').parent("li").addClass("selected").parents("li").addClass("active").end().parents("ul").addClass("in");
        }
    }

    $(function () {
        let url;
        const lockPath = storage.get('lockPath');
        if ($.common.equals("history", mode) && window.performance.navigation.type === 1) {
            url = storage.get('publicPath');
            if ($.common.isNotEmpty(url)) {
                applyPath(url);
            }
        } else if ($.common.isNotEmpty(lockPath)) {
            applyPath(lockPath);
            storage.remove('lockPath');
        } else {
            const hash = location.hash;
            if ($.common.isNotEmpty(hash)) {
                url = hash.substring(1, hash.length);
                applyPath(url);
            } else {
                if ($.common.equals("history", mode)) {
                    storage.set('publicPath', "");
                }
            }
        }
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
</body>
</html>
