<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>ZeroKingBot</title>
    <!-- <link rel="shortcut icon" href="favicon.ico">-->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">
            阿里云服务器折扣区 <a target="_blank"
                                  href="https://www.aliyun.com/minisite/goods?userCode=8dt5pt0g&share_source=copy_link">☛☛点我进入☚☚</a>
            &nbsp;&nbsp;&nbsp;
            腾讯云服务器秒杀区 <a target="_blank"
                                  href="https://cloud.tencent.com/act/pro/cps_3?fromSource=gwzcw.6688284.6688284.6688284&cps_key=ae3b8b6e55495d8bc53f2227ea0273d8">☛☛点我进入☚☚</a><br>
            <br/>
            <p><i class="fa fa-qq"></i> QQ群：<a
                    href="https://jq.qq.com/?_wv=1027&k=HkG2Q9PT" target="_blank">260079469</a>
            </p>
        </blockquote>

        <hr>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <!-------------------------------->
        <div class="col-xs-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>平原</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getAllCycleHtml}" width="100%" height="500px" frameborder="0" seamless></iframe>

                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>仲裁</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getArbitrationHtml}" width="100%" height="315px" frameborder="0" seamless></iframe>
                </div>
            </div>
        </div>
        <!-------------------------------->
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>警报</h5>
                </div>
                <div class="ibox-content">

                </div>
            </div>
        </div>
        <!-------------------------------->
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>钢铁兑换</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getSteelPathHtml}" width="100%" height="315px" frameborder="0" seamless></iframe>
                </div>
            </div>
        </div>
        <!-------------------------------->
        <div class="col-xs-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>执刑官猎杀</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getArchonHuntHtml}" width="100%" height="450px" frameborder="0" seamless></iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>突击</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getAssaultHtml}" width="100%" height="450px" frameborder="0" seamless></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>每日特惠</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getDailyDealsHtml}" width="100%" height="350px" frameborder="0" seamless></iframe>

                </div>
            </div>
        </div>
        <!-------------------------------->

        <div class="col-sm-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>入侵</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getInvasionsHtml}" width="100%" height="1000px"></iframe>

                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>电波</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getNighTwaveHtml}" width="100%" height="850px" frameborder="0" seamless></iframe>

                </div>
            </div>
        </div>
        <!-------------------------------->
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>紫卡倾向变动</h5>
                </div>
                <div class="ibox-content">

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>奸商</h5>
                </div>
                <div class="ibox-content">
                    <iframe th:src="@{/warframe/mission/server/getVoidHtml}" width="100%" height="1000px"></iframe>

                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>裂隙</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>裂隙</h5>
                                </div>
                                <div class="ibox-content">
                                    <iframe th:src="@{/warframe/mission/server/getFissuesHtml/ORDINARY}" width="100%" height="1000px"></iframe>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>钢铁裂隙</h5>
                                </div>
                                <div class="ibox-content">
                                    <iframe th:src="@{/warframe/mission/server/getFissuesHtml/HARD}" width="100%" height="1000px"></iframe>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>九重天裂隙</h5>
                                </div>
                                <div class="ibox-content">
                                    <iframe th:src="@{/warframe/mission/server/getFissuesHtml/STORM}" width="100%" height="1000px"></iframe>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script type="text/javascript">
    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', '360px'],
            content: html
        });
    });
</script>
</body>
</html>
