<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="include :: header('修改管理员')" />
</head>
<body>
<div class="white-bg">
  <div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-bot-black-edit" th:object="${black}">
      <input name="blackId" type="hidden" th:field="*{blackId}">
      <div class="form-group">
        <label class="col-sm-3 control-label">QQ：</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input class="form-control" type="number" id="userId" name="userId" th:field="*{userId}">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">QQ群号：</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input class="form-control" type="number" id="groupId" name="groupId" th:field="*{groupId}">
          </div>
        </div>
      </div>
     </form>
  </div>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
  const prefix = ctx + "bot/black";

  function submitHandler() {
    if ($.validate.form()) {
      $.operate.save(prefix + "/update", $('#form-bot-black-edit').serialize());
    }
  }

  function doSubmit(index, layero){
    const tree = layero.find("iframe")[0].contentWindow.$._tree;
    if ($.tree.notAllowLastLevel(tree)) {
      const body = $.modal.getChildFrame(index);
      $("#userId").val(body.find('#userId').val());
      $.modal.close(index);
    }
  }
</script>
</body>
</html>